/* External styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
}

header {
    background-color: green;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Internal and Inline Styling */
h2 {
    color: #4CAF50;
}

p {
    color: #555;
}

/* Flexbox */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS Animations */
img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.myheader {
    color: pink;
}